Repository kubernetes-csi/external-attacher, pull requests merged in 2022-11, with the labels that each got.

#379 Fix gofmt for go 1.19
  pkg/controller/util_test.go
Labels: cncf-cla: yes, kind/cleanup, lgtm, release-note-none, approved, size/XS

#381 master: update release-tools
  release-tools/KUBERNETES_CSI_OWNERS_ALIASES
  release-tools/prow.sh
Labels: cncf-cla: yes, size/M, lgtm, release-note-none, approved

#383 release-3.4: update release-tools
  pkg/controller/util_test.go
  release-tools/KUBERNETES_CSI_OWNERS_ALIASES
  release-tools/prow.sh
Labels: cncf-cla: yes, size/M, lgtm, release-note-none, approved

#382 release-3.3: update release-tools
  pkg/controller/util_test.go
  release-tools/KUBERNETES_CSI_OWNERS_ALIASES
  release-tools/prow.sh
Labels: cncf-cla: yes, size/M, lgtm, release-note-none, approved

#384 release-4.0: update release-tools
  pkg/controller/util_test.go
  release-tools/KUBERNETES_CSI_OWNERS_ALIASES
  release-tools/prow.sh
Labels: cncf-cla: yes, size/M, lgtm, release-note-none, approved

#385 Fix CVE, CSI spec update and update kube dependencies to latest.
  go.mod
  go.sum
  vendor/github.com/container-storage-interface/spec/lib/go/csi/csi.pb.go
  vendor/github.com/emicklei/go-restful/v3/CHANGES.md
  vendor/github.com/emicklei/go-restful/v3/constants.go
  vendor/github.com/emicklei/go-restful/v3/request.go
  vendor/github.com/emicklei/go-restful/v3/response.go
  vendor/github.com/emicklei/go-restful/v3/route.go
  vendor/github.com/prometheus/client_golang/prometheus/counter.go
  vendor/github.com/prometheus/client_golang/prometheus/doc.go
  vendor/github.com/prometheus/client_golang/prometheus/gauge.go
  vendor/github.com/prometheus/client_golang/prometheus/histogram.go
  vendor/github.com/prometheus/client_golang/prometheus/internal/almost_equal.go
  vendor/github.com/prometheus/client_golang/prometheus/internal/difflib.go
  vendor/github.com/prometheus/client_golang/prometheus/labels.go
  vendor/github.com/prometheus/client_golang/prometheus/promhttp/instrument_client.go
  vendor/github.com/prometheus/client_golang/prometheus/promhttp/instrument_server.go
  vendor/github.com/prometheus/client_golang/prometheus/registry.go
  vendor/github.com/prometheus/client_golang/prometheus/summary.go
  vendor/github.com/prometheus/client_golang/prometheus/timer.go
  vendor/golang.org/x/net/http2/headermap.go
  vendor/golang.org/x/net/http2/hpack/static_table.go
  vendor/golang.org/x/net/http2/hpack/tables.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/sys/unix/sockcmsg_unix.go
  vendor/golang.org/x/sys/unix/syscall_linux.go
  vendor/golang.org/x/term/terminal.go
  vendor/golang.org/x/time/rate/sometimes.go
  vendor/k8s.io/apimachinery/pkg/apis/meta/v1/micro_time_proto.go
  vendor/k8s.io/client-go/plugin/pkg/client/auth/exec/exec.go
  vendor/k8s.io/client-go/rest/request.go
  vendor/k8s.io/client-go/transport/cache.go
  vendor/k8s.io/client-go/transport/config.go
  vendor/k8s.io/client-go/transport/transport.go
  vendor/k8s.io/utils/net/port.go
  vendor/k8s.io/utils/trace/trace.go
  vendor/modules.txt
Labels: cncf-cla: yes, lgtm, size/XXL, release-note-none, approved

#386 add dependabot github action for auto dependency update
  .github/dependabot.yaml
Labels: cncf-cla: yes, lgtm, size/S, release-note-none, approved
