Repository kubernetes-csi/external-attacher, pull requests merged in 2022-01, with the labels that each got.

#342 allow setting default fs type through command line argument
  README.md
  cmd/csi-attacher/main.go
  pkg/controller/controller.go
  pkg/controller/csi_handler.go
  pkg/controller/csi_handler_test.go
  pkg/controller/util.go
  pkg/controller/util_test.go
Labels: kind/bug, cncf-cla: yes, lgtm, release-note, size/S, approved, ok-to-test

#344 master: update release-tools
  release-tools/build.make
  release-tools/cloudbuild.yaml
  release-tools/prow.sh
Labels: cncf-cla: yes, size/M, lgtm, release-note-none, approved

#345 Validate OWNERS files - remove sections about emeritus reviewers
  OWNERS
Labels: cncf-cla: yes, kind/cleanup, lgtm, release-note-none, approved, size/XS, ok-to-test
