Repository kubernetes-csi/external-attacher, pull requests merged in 2022-08, with the labels that each got.

#365 master: update release-tools
  release-tools/filter-junit.go
  release-tools/go-get-kubernetes.sh
  release-tools/prow.sh
Labels: cncf-cla: yes, size/M, lgtm, release-note-none, approved

#368 release-3.4: update release-tools
  release-tools/KUBERNETES_CSI_OWNERS_ALIASES
  release-tools/SIDECAR_RELEASE_PROCESS.md
  release-tools/build.make
  release-tools/cloudbuild.yaml
  release-tools/filter-junit.go
  release-tools/go-get-kubernetes.sh
  release-tools/prow.sh
  release-tools/verify-spelling.sh
Labels: cncf-cla: yes, lgtm, release-note-none, size/L, approved

#366 release-3.2: update release-tools
  release-tools/filter-junit.go
  release-tools/go-get-kubernetes.sh
  release-tools/prow.sh
Labels: cncf-cla: yes, size/M, lgtm, release-note-none, approved

#367 release-3.3: update release-tools
  release-tools/filter-junit.go
  release-tools/go-get-kubernetes.sh
  release-tools/prow.sh
Labels: cncf-cla: yes, size/M, lgtm, release-note-none, approved

#370 Update release tools
  release-tools/prow.sh
Labels: cncf-cla: yes, kind/cleanup, lgtm, size/S, release-note-none, approved
