Repository kubernetes-csi/external-attacher, pull requests merged in 2023-07, with the labels that each got.

#454 chore: remove refs to deprecated io/ioutil
  pkg/attacher/attacher_test.go
Labels: cncf-cla: yes, lgtm, release-note-none, approved, size/XS, ok-to-test

#455 chore: use fmt.Errorf(...) instead of errors.New(fmt.Sprintf(...))
  pkg/controller/csi_handler.go
Labels: cncf-cla: yes, lgtm, release-note-none, approved, size/XS, ok-to-test

#456 Update README.md
  README.md
Labels: cncf-cla: yes, lgtm, kind/documentation, release-note-none, approved, size/XS, ok-to-test

#462 Add max-entries flag to limit ListVolumes request entries per page
  README.md
  cmd/csi-attacher/main.go
  pkg/attacher/lister.go
  pkg/controller/csi_handler_test.go
Labels: kind/feature, cncf-cla: yes, lgtm, release-note, size/S, approved, ok-to-test
